In [1]:
import gzip
import pandas as pd
import warnings
import gc

In [2]:
# Read the exported for header chartevent CSV file
head_df = pd.read_csv('CSV\Exports\datasets\whole_set\o01_final_mean_table.csv')

In [3]:
display(head_df)

,row_count,subject_id,hadm_id,Time_Zone,gender,age,language,marital_status,race,Base Excess - Mean,...,Flow (LVAD) (L/min) - Mean,Flow Alarm (Hi) (LVAD) - Mean,Flow Alarm (Lo) (LVAD) - Mean,Speed (LVAD) (RPM) - Mean,Mesothelial Cells - Mean.1,Other - Mean.3,Factor IX - Mean,Factor XI - Mean,Factor XII - Mean,hospital_expire_flag
0,1,10001884,26184834,1,F,77,ENGLISH,MARRIED,BLACK/AFRICAN AMERICAN,6.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1
1,2,10001884,26184834,2,F,77,ENGLISH,MARRIED,BLACK/AFRICAN AMERICAN,4.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1
2,3,10001884,26184834,3,F,77,ENGLISH,MARRIED,BLACK/AFRICAN AMERICAN,5.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1
3,4,10001884,26184834,4,F,77,ENGLISH,MARRIED,BLACK/AFRICAN AMERICAN,4.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1
4,5,10001884,26184834,5,F,77,ENGLISH,MARRIED,BLACK/AFRICAN AMERICAN,5.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
64571,64572,19996783,21880161,12,M,89,?,MARRIED,ASIAN - CHINESE,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0
64572,64573,19996783,21880161,13,M,89,?,MARRIED,ASIAN - CHINESE,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0
64573,64574,19996783,21880161,14,M,89,?,MARRIED,ASIAN - CHINESE,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0
64574,64575,19996783,21880161,15,M,89,?,MARRIED,ASIAN - CHINESE,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0
64575,64576,19996783,21880161,16,M,89,?,MARRIED,ASIAN - CHINESE,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0