In [1]:
import gc
import gzip
import pandas as pd

# Read the stroke_diagnosis.csv file
mean_df = pd.read_csv("CSV\Exports\datasets\whole_set\o01_final_mean_table.csv")
median_df = pd.read_csv("CSV\Exports\datasets\whole_set\o02_final_median_table.csv")
min_df = pd.read_csv("CSV\Exports\datasets\whole_set\o03_final_min_table.csv")
max_df = pd.read_csv("CSV\Exports\datasets\whole_set\o04_final_max_table.csv")

In [3]:
# Merge the datasets based on the common columns
merged_df = pd.concat([mean_df, median_df, min_df, max_df], axis=0, ignore_index=True)

# Now, merged_df contains all the rows from the four datasets with common columns.

In [6]:
display(merged_df)

,row_count,subject_id,hadm_id,Time_Zone,gender,age,language,marital_status,race,Base Excess - Mean,...,Flow (LVAD) (L/min) - Max,Flow Alarm (Hi) (LVAD) - Max,Flow Alarm (Lo) (LVAD) - Max,Speed (LVAD) (RPM) - Max,Mesothelial Cells - Max.1,Other - Max.3,Factor IX - Max,Factor XI - Max,Factor XII - Max,hospital_expire_flag
0,1,10001884,26184834,1,F,77,ENGLISH,MARRIED,BLACK/AFRICAN AMERICAN,6.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1
1,2,10001884,26184834,2,F,77,ENGLISH,MARRIED,BLACK/AFRICAN AMERICAN,4.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1
2,3,10001884,26184834,3,F,77,ENGLISH,MARRIED,BLACK/AFRICAN AMERICAN,5.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1
3,4,10001884,26184834,4,F,77,ENGLISH,MARRIED,BLACK/AFRICAN AMERICAN,4.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1
4,5,10001884,26184834,5,F,77,ENGLISH,MARRIED,BLACK/AFRICAN AMERICAN,5.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
258299,64572,19996783,21880161,12,M,89,?,MARRIED,ASIAN - CHINESE,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0
258300,64573,19996783,21880161,13,M,89,?,MARRIED,ASIAN - CHINESE,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0
258301,64574,19996783,21880161,14,M,89,?,MARRIED,ASIAN - CHINESE,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0
258302,64575,19996783,21880161,15,M,89,?,MARRIED,ASIAN - CHINESE,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0
258303,64576,19996783,21880161,16,M,89,?,MARRIED,ASIAN - CHINESE,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0

In [5]:
# Extract the 'hospital_expired_flag' column
hospital_expired_flag_column = merged_df.pop('hospital_expire_flag')

# Add it back as the last column
merged_df['hospital_expire_flag'] = hospital_expired_flag_column

In [ ]:
merged_df.to_csv('CSV\Exports\oThrombo_jadbio_.csv', index=False)

In [25]:
filtered_df = merged_df[merged_df['Time_Zone'] == 8]

filtered_df = filtered_df.copy()
filtered_df.reset_index(drop=True, inplace=True)
filtered_df.drop(columns=['row_count', 'subject_id', 'hadm_id', 'Time_Zone'], inplace=True)

In [26]:
display(filtered_df)
filtered_df.to_csv('CSV\Exports\oThrombo_24_hours.csv', index=False)

,gender,age,language,marital_status,race,Base Excess - Mean,Calculated Total CO2 - Mean,"Chloride, Whole Blood - Mean",Free Calcium - Mean,Glucose - Mean,...,Flow (LVAD) (L/min) - Max,Flow Alarm (Hi) (LVAD) - Max,Flow Alarm (Lo) (LVAD) - Max,Speed (LVAD) (RPM) - Max,Mesothelial Cells - Max.1,Other - Max.3,Factor IX - Max,Factor XI - Max,Factor XII - Max,hospital_expire_flag
0,F,77,ENGLISH,MARRIED,BLACK/AFRICAN AMERICAN,5.000000,36.250000,90.0,1.250000,140.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1
1,F,75,ENGLISH,MARRIED,BLACK/AFRICAN AMERICAN,-11.000000,12.000000,NaN,1.057500,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0
2,M,78,ENGLISH,WIDOWED,WHITE,-1.000000,24.833333,107.0,1.116667,156.8,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0
3,M,64,ENGLISH,SINGLE,WHITE,-0.333333,24.666667,NaN,1.170000,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1
4,M,54,ENGLISH,MARRIED,OTHER,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
16139,F,66,ENGLISH,SINGLE,WHITE,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0
16140,M,70,ENGLISH,SINGLE,WHITE,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0
16141,F,52,ENGLISH,MARRIED,WHITE,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0
16142,M,83,ENGLISH,MARRIED,BLACK/AFRICAN AMERICAN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1
16143,M,89,?,MARRIED,ASIAN - CHINESE,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0

In [ ]:
# Calculate the index for splitting the DataFrame
split_index = int(0.7 * len(filtered_df))

# Split the DataFrame into training and test sets
train_df = filtered_df[:split_index]
test_df = filtered_df[split_index:]

In [ ]:
train_df.to_csv('CSV\Exports\oThrombo_24_hours_training_.csv', index=False)

test_df.to_csv('CSV\Exports\oThrombo_24_hours_test_.csv', index=False)

In [ ]:
# Columns to exclude from the count
columns_to_exclude = ['gender', 'age', 'language', 'marital_status', 'race']

# Calculate non-NaN counts for all columns except the excluded ones
non_nan_counts = train_df.loc[:, ~train_df.columns.isin(columns_to_exclude)].count()

# If you want to count the total number of non-NaN values in the entire DataFrame:
total_non_nan_count = non_nan_counts.sum()

print("Non-NaN counts in each column (excluding specified columns):")
print(non_nan_counts)
print("\nTotal count of non-NaN values in the entire DataFrame:")
print(total_non_nan_count)