# Collect data from lab

In [1]:
import gc
import gzip
import pandas as pd

# Set the display option to show all columns
pd.set_option('display.max_columns', None)

# Diagnosis file 
admissions_path = 'CSV\Exports\o02_eicu_unique_admissions.csv'

compressed_file_path = r"..\Datasets\eicu-2_0\lab.csv.gz"

df = pd.read_csv(compressed_file_path, compression='gzip')

# Read the specific ICD codes from a CSV file
admissions_df = pd.read_csv(admissions_path)

In [2]:
merged_df = admissions_df.merge(df, on='patientunitstayid', how='inner')

# List of columns to be dropped
columns_to_drop = ['activeupondischarge', 'diagnosispriority', 'diagnosisstring', 'icd9code',
                   'diagnosispriority', 'patienthealthsystemstayid', 'diagnosispriority',
                   'hospitalid', 'wardid', 'hospitaladmitoffset', 'hospitaladmitsource',
                   'hospitaldischargeyear', 'hospitaldischargetime24', 'hospitaldischargeoffset',
                   'hospitaldischargestatus', 'unittype', 'unitadmitsource', 'unitstaytype',
                   'unitdischargetime24', 'unitdischargeoffset', 'unitdischargelocation',
                   'order_of_appearance', 'labtypeid', 'labresulttext', 'labmeasurenameinterface',
                   'diagnosisoffset', 'apacheadmissiondx', 'hospitaladmittime24', 'hospitaldischargelocation',
                   'unitvisitnumber', 'labid', 'gender', 'age', 'ethnicity', 'admissionheight', 'unitadmittime24',
                   'admissionweight', 'dischargeweight', 'labresultrevisedoffset', 'unitdischargestatus', 'diagnosisid']

# Drop the specified columns
merged_df = merged_df.drop(columns=columns_to_drop)

In [3]:
# Filtering out rows with negative values in the labresultoffset column
merged_df = merged_df[merged_df['labresultoffset'] >= 0]

# Optional: Resetting the index if you want consecutive integer indices
merged_df.reset_index(drop=True, inplace=True)

In [4]:
# Export the filtered DataFrame to a CSV file
merged_df.to_csv('CSV\Exports\o03_eicu_lab.csv', index=False, header=True)

# Free RAM
gc.collect()

18

In [5]:
display(merged_df)

,uniquepid,patientunitstayid,labresultoffset,labname,labresult,labmeasurenamesystem
0,002-11314,204938,3646,creatinine,1.1,mg/dL
1,002-11314,204938,351,Respiratory Rate,16.0,/min
2,002-11314,204938,10068,bedside glucose,189.0,mg/dL
3,002-11314,204938,3646,chloride,115.0,mmol/L
4,002-11314,204938,351,FiO2,33.0,%
...,...,...,...,...,...,...
998076,035-950,3333754,7773,BUN,13.0,mg/dL
998077,035-950,3333754,7773,chloride,107.0,mmol/L
998078,035-950,3333754,7773,potassium,3.9,mmol/L
998079,035-950,3333754,7773,anion gap,7.0,NaN
998080,035-950,3333754,7773,bicarbonate,26.0,mmol/L